:root {
  --p: #000;
  --red: #ea736d;
  --blue: #039be5;
  --yell: #fbdc4d;
  --btn-bg: #fbdc4d;
  --btn-bg-h: #ffd200;
  --btn-bg-a: #e1bc10;
  --btn-transp: #464646;
  --btn-transp-h: #797979;
  --btn-transp-a: #181818;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
.text-link {
  border-bottom: 1px solid var(--p);
  line-height: 1.2;
}
.text-link:hover {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}
.text-link:active {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p::-moz-selection,
li::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
span::-moz-selection {
  background: var(--yell);
}
p::selection,
li::selection,
h1::selection,
h2::selection,
h3::selection,
span::selection {
  background: var(--yell);
}
/*--Иконка меню"Гамбургер"--*/
/*--/Иконка меню"Гамбургер"--*/
/*--Заголовок для секции--*/
.section-title {
  display: inline-block;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
}
/*--/Заголовок для секции--*/
/*--Заголовоки для блока--*/
.title-3 {
  text-shadow: 0 3px 42px #fff;
  font-size: 40px;
  font-weight: 800;
}
/*--/Заголовоки для блока--*/
img {
  max-width: 100%;
  height: auto;
  display: block;
}
svg {
  max-width: 100%;
}
button,
input {
  outline: none;
}
button {
  display: inline-block;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.bottom-line {
  position: relative;
  z-index: 1;
}
.bottom-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #fbdc4d;
  z-index: -1;
}
.btn {
  display: inline-block;
  height: 64px;
  padding-left: 38px;
  padding-right: 38px;
  background-color: var(--yell);
  -webkit-border-radius: 32px;
     -moz-border-radius: 32px;
          border-radius: 32px;
  border: 4px solid var(--yell);
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn:hover {
  border-color: var(--btn-bg-h);
  background-color: var(--btn-bg-h);
}
.btn:active {
  border-color: var(--btn-bg-a);
  background-color: var(--btn-bg-a);
}
.btn.btn--white {
  border-color: var(--btn-transp);
  color: var(--btn-transp);
  background-color: transparent;
}
.btn.btn--white:hover {
  border-color: var(--btn-transp-h);
  color: var(--btn-transp-h);
}
.btn.btn--white:active {
  border-color: var(--btn-transp-a);
  color: var(--btn-transp-a);
}
/*--Контейнер--*/
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
    padding: 0 30px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
/*---Универсальная панель иконок контактов---*/
.social-ic-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.icon-item {
  margin-right: 31px;
}
.icon-item:last-child {
  margin-right: 0;
}
.icon-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.icon-link:hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1.25) rotate(15deg) translatey(-10%);
     -moz-transform: scale(1.25) rotate(15deg) translatey(-10%);
      -ms-transform: scale(1.25) rotate(15deg) translatey(-10%);
       -o-transform: scale(1.25) rotate(15deg) translatey(-10%);
          transform: scale(1.25) rotate(15deg) translatey(-10%);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.7);
     -moz-box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.7);
}
.icon-link > svg {
  color: #fff;
  width: 30px;
  height: 30px;
}
/*--Универсальные круглые иконки контактов--*/
.icon-git {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  line-height: 1;
  color: var(--p);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.icon-git:hover {
  -webkit-transform: scale(1.25) translatey(-10%);
     -moz-transform: scale(1.25) translatey(-10%);
      -ms-transform: scale(1.25) translatey(-10%);
       -o-transform: scale(1.25) translatey(-10%);
          transform: scale(1.25) translatey(-10%);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.7);
     -moz-box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.7);
}
.icon-git .git {
  -webkit-transition: all 0.6s ease-in-out 0.7s;
  -o-transition: all 0.6s ease-in-out 0.7s;
  -moz-transition: all 0.6s ease-in-out 0.7s;
  transition: all 0.6s ease-in-out 0.7s;
}
.icon-git .git:hover {
  -webkit-transform: scale(1.25) translatey(-3%) rotate(360deg);
     -moz-transform: scale(1.25) translatey(-3%) rotate(360deg);
      -ms-transform: scale(1.25) translatey(-3%) rotate(360deg);
       -o-transform: scale(1.25) translatey(-3%) rotate(360deg);
          transform: scale(1.25) translatey(-3%) rotate(360deg);
  -webkit-filter: drop-shadow(0 2px 2px #3a3a3a);
          filter: drop-shadow(0 2px 2px #3a3a3a);
  z-index: 2;
}
.icon-tele {
  background-color: #039be5;
}
.icon-tele .fly {
  -webkit-transition: all 0.2s linear 0.25s;
  -o-transition: all 0.2s linear 0.25s;
  -moz-transition: all 0.2s linear 0.25s;
  transition: all 0.2s linear 0.25s;
}
.icon-tele .fly:hover {
  -webkit-transform: scale(1.25) translate(27%, -40%);
     -moz-transform: scale(1.25) translate(27%, -40%);
      -ms-transform: scale(1.25) translate(27%, -40%);
       -o-transform: scale(1.25) translate(27%, -40%);
          transform: scale(1.25) translate(27%, -40%);
  -webkit-filter: drop-shadow(0 2px 2px #1c2c3f);
          filter: drop-shadow(0 2px 2px #1c2c3f);
  z-index: 2;
}
.icon-vk {
  background-color: #4d76a1;
}
.icon-vk .vk {
  -webkit-transition: all 0.3s ease-out 0.25s;
  -o-transition: all 0.3s ease-out 0.25s;
  -moz-transition: all 0.3s ease-out 0.25s;
  transition: all 0.3s ease-out 0.25s;
}
.icon-vk .vk:hover {
  -webkit-transform: scale(1.45) translatey(-5%) rotate(-15deg);
     -moz-transform: scale(1.45) translatey(-5%) rotate(-15deg);
      -ms-transform: scale(1.45) translatey(-5%) rotate(-15deg);
       -o-transform: scale(1.45) translatey(-5%) rotate(-15deg);
          transform: scale(1.45) translatey(-5%) rotate(-15deg);
  -webkit-filter: drop-shadow(0 4px 1px #1c2c3f);
          filter: drop-shadow(0 4px 1px #1c2c3f);
  z-index: 2;
}
.icon-fb {
  background-color: #3b5998;
}
.icon-fb .fb {
  -webkit-transition: all 0.3s ease-out 0.25s;
  -o-transition: all 0.3s ease-out 0.25s;
  -moz-transition: all 0.3s ease-out 0.25s;
  transition: all 0.3s ease-out 0.25s;
}
.icon-fb .fb:hover {
  -webkit-transform: scale(1.45) translatey(-1%) rotate(-15deg);
     -moz-transform: scale(1.45) translatey(-1%) rotate(-15deg);
      -ms-transform: scale(1.45) translatey(-1%) rotate(-15deg);
       -o-transform: scale(1.45) translatey(-1%) rotate(-15deg);
          transform: scale(1.45) translatey(-1%) rotate(-15deg);
  -webkit-filter: drop-shadow(0 3px 1px #162230);
          filter: drop-shadow(0 3px 1px #162230);
  z-index: 2;
}
/*--/Универсальные круглые иконки контактов--*/
/*---/Универсальная панель иконок контактов---*/
.header {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 0 238px;
  background-image: url("../img/main-page/stripes.jpg");
  -moz-background-size: auto;
       background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}
.container.container--enlarge {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .container.container--enlarge {
    max-width: 1430px;
  }
}
.header-nav-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .header-nav-row {
    margin-bottom: 147px;
  }
}
.logo {
  margin-right: 15px;
  display: inline-block;
  font-size: 42px;
  font-weight: 900;
}
.logo a {
  color: var(--p);
}
.nav-list {
  display: none;
}
@media (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-item {
  margin-right: 79px;
  font-size: 20px;
  font-weight: 700;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  position: relative;
  color: var(--p);
  z-index: 1;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 3px;
  left: -3px;
  right: -3px;
  height: 5px;
  background-color: #fbdc4d;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  z-index: -1;
}
.nav-link:hover::after {
  width: 106%;
}
.nav-link:focus {
  outline: none;
  padding: 0 3px;
  border: 3px dotted var(--red);
}
.nav-link:focus:focus::after {
  width: 0;
}
.nav-link:active {
  outline: none;
  padding: 0;
  border: none;
}
.nav-link.nav-link--active::after {
  content: "";
  position: absolute;
  width: 106%;
  bottom: 3px;
  left: -3px;
  right: -3px;
  height: 5px;
  background-color: #fbdc4d;
  z-index: -1;
}
.nav-icons-row {
  display: none;
}
@media (min-width: 1200px) {
  .nav-icons-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
       -moz-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.nav-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 1;
  color: #000;
  margin-right: 20px;
}
.nav-icon:last-child {
  margin-right: 0;
}
.linkedin-h-a {
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.linkedin-h-a:hover {
  color: #0077b5;
}
.git-h-a {
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.git-h-a:hover {
  color: #6cc644;
}
.vk-h-a {
  width: 35px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
.vk-h-a:hover {
  color: #45668e;
}
.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -128px;
}
.header-text-col {
  width: 50%;
  z-index: 1;
}
@media (min-width: 768px) {
  .header-text-col {
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    width: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .header-text-col {
    width: 50%;
  }
}
.header-title {
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
}
.header-title span {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.header-title span::after {
  bottom: 13px;
  height: 12px;
}
.header-desc {
  margin-bottom: 32px;
  padding-right: 6px;
  color: #393f47;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-shadow: 0 3px 42px #ffffff;
}
.header-btn-row {
  display: block;
}
.header-btn-row a {
  margin-right: 14px;
}
.header-btn-row a:last-child {
  margin-right: 0;
}
.header-img-col {
  padding-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 50%;
  z-index: 2;
}
.header-img-col:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -30.45%;
  right: -25%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(244, 248, 249, 0.5)), to(rgba(244, 248, 249, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(244, 248, 249, 0.5) 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(244, 248, 249, 0.5) 0%, rgba(244, 248, 249, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(244, 248, 249, 0.5) 0%, rgba(244, 248, 249, 0) 100%);
  background-image: linear-gradient(to top, rgba(244, 248, 249, 0.5) 0%, rgba(244, 248, 249, 0) 100%);
  z-index: -1;
}
/*--Фоновое изобранение--*/
.header-bg-row {
  z-index: -1;
  margin-bottom: -20px;
}
/*--/Фоновое изобранение--*/
/*--Контейнер для контента нижней части header'а--*/
.skills-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills-container h3 {
  margin-bottom: 31px;
}
/*--/Контейнер для контента нижней части header'а--*/
/*--Колонка "Навыки" нижней части header'а--*/
.skills-col {
  width: 60%;
}
/*--Заголовоки для контента нижней части header'а--*/
/*--/Заголовоки для контента нижней части header'а--*/
/*--Список навыков для нижней части header'а--*/
.skills-list {
  margin-bottom: 45px;
  text-shadow: 0 3px 42px #fff;
  font-size: 24px;
  font-weight: 400;
}
.skills-list__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  line-height: 1;
}
.skills-list__item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -1px;
  height: 2px;
  width: 23px;
  background-color: #000;
}
/*--Список навыков для нижней части header'а--*/
/*--/Колонка "Навыки" нижней части header'а--*/
/*--Колонка "Контакты" для нижней части header'а--*/
.header-col-contacts {
  width: 31.5%;
}
.header-col-contacts .contacts-icons-row {
  margin-bottom: 22px;
}
.header-contact-link a {
  text-shadow: 0 3px 42px #ffffff;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
/*--/Колонка "Контакты" для нижней части header'а--*/
.portfolio-section {
  padding: 106px 0 64px;
  background-color: #f4f8f9;
}
.portfolio-section h2 {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
.portfolio-section h2::after {
  bottom: 8px;
  left: -5px;
  right: 0;
  height: 12px;
}
.portfolio-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 51px;
}
.filter-link {
  margin-right: 80px;
  font-weight: 800;
  font-size: 28px;
  color: #8fa5ae;
  line-height: 1.2;
}
.filter-link:last-child {
  margin-right: 0;
}
.filter-link:hover,
.filter-link:active {
  color: var(--red);
}
.filter-link.filter-link--active {
  color: var(--p);
}
.filter-link.filter-link--active:hover {
  color: var(--red);
}
.portfolio-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-card {
  margin-bottom: 48px;
  max-width: 360px;
}
.portfolio-card:first-of-type,
.portfolio-card:nth-of-type(2) {
  max-width: 556px;
}
.portfolio-card:first-of-type .card-title,
.portfolio-card:nth-of-type(2) .card-title {
  font-size: 32px;
}
.portfolio-card:first-of-type .card-desc p,
.portfolio-card:nth-of-type(2) .card-desc p {
  font-size: 22px;
}
.card-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--yell);
}
.card-img img {
  display: block;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  -moz-transition: transform 0.5s ease-in, -moz-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in, -moz-transform 0.5s ease-in, -o-transform 0.5s ease-in;
}
.card-img img:hover {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
}
.img-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  background-color: rgba(251, 222, 76, 0.85);
  -webkit-transition: all 0.4s ease-in 0.3s;
  -o-transition: all 0.4s ease-in 0.3s;
  -moz-transition: all 0.4s ease-in 0.3s;
  transition: all 0.4s ease-in 0.3s;
}
.img-link:hover,
.img-link:active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}
.img-link span {
  display: inline-block;
  padding: 12px 24px;
  -webkit-border-radius: 26px;
     -moz-border-radius: 26px;
          border-radius: 26px;
  border: 3px solid #fff;
  background-color: #fff;
  color: #ea736d;
  font-size: 22px;
  line-height: 1;
  font-weight: 800;
  outline: none;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0.5s;
  -o-transition: all 0.2s ease-in-out 0.5s;
  -moz-transition: all 0.2s ease-in-out 0.5s;
  transition: all 0.2s ease-in-out 0.5s;
}
.img-link span:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
     -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
       -o-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 15px 7px rgba(0, 0, 0, 0.35);
  border-color: #ea736d;
  background-color: #ea736d;
  color: #fff;
}
.img-link span:active {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  border-color: #d4423b;
  background-color: #d4423b;
}
.card-desc {
  padding-top: 26px;
}
.card-desc p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.2;
}
.card-title-link {
  color: var(--p);
}
.card-title {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.toggle-menu {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
}
.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: var(--p);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.toggle-menu span::before,
.toggle-menu span:after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--p);
  position: absolute;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}
.toggle-menu.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  z-index: 8;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=main.css.map */