.footer {
  margin: 0 auto;
  padding: 20px 0 41px;
  background-color: #333;
}
.footer-title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.footer-desc {
  font-size: 16px;
  color: #b0b0b0;
  a {
    color: #b0b0b0;
    &:hover,
    &:active {
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
}
.footer-link {
  border-bottom: 1px solid #bcbcbc;
  line-height: 1.2;
}
