.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  z-index: 8;
  transform: translateX(100%);
  transition: 0.5s;
  @media (min-width: 1200px) {
    display: none;
  }
}
.mobile-menu.active {
  display: block;
  transform: translateX(0);
}
